<html>
  <head>
    <title>Databases</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="static/database.css" />
  </head>
  <body>
    <main class="main-layout">
      <section class="table-container">
        <div class="database-name">
          <span class="database-name-title">Database</span> {{database_name}}
        </div>
        <button type="button" class="disconnect-btn">Disconnect</button>

        <div class="table-title">Tables</div>
        <ul class="table-list">
          {% for table in tables %}
          <li id="{{table}}" class="table-item">{{table}}</li>

          {% else %}
          <li>No tables found</li>
          {% endfor %}
        </ul>

        <button type="button" class="create-table-btn">Create New Table</button>
      </section>

      <section class="data-container">
        <div class="data-title-placeholder css-selector">
          Click on a table to interact or create a new table
        </div>
      </section>

      <script>
        const createTableBtn = document.querySelector(".create-table-btn");
        const dataContainer = document.querySelector(".data-container");

        createTableBtn.addEventListener("click", () => {
          if (dataContainer.querySelector("input")) {
            dataContainer.innerHTML = `
              <div class="data-title-placeholder css-selector">
                Click on a table to interact or create a new table
              </div>
            `;
          } else {
            dataContainer.innerHTML = `
              <div class="create-container css-selector">
                <div class="table-name-container">
                  <input type="text" class="table-name-input" placeholder="Enter table name" />
                  <button type="button" class="add-column-btn">Add Column</button>
                </div>

                <div class="error"></div>

                <div class="column-container">
                    <div class="column-name">Name</div>
                    <div class="column-type">Data Type</div>

                    
                  </div>

                <button type="button" class="save-table-btn">Save Table</button>
                </div>
              </div>
            `;

            const addColumnBtn = document.querySelector(".add-column-btn");
            addColumnBtn.addEventListener("click", () => {
              const columnContainer =
                document.querySelector(".column-container");

              columnContainer.insertAdjacentHTML(
                "beforeend",
                `
                  <input type="text" class="column-name-input" id="${columnContainer.childElementCount}" placeholder="Enter column name" />
                    
                  <div class="column-type-container">
                    <div class="selected-type"> - </div>

                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose the Type
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item" onclick="this.closest('.column-type-container').querySelector('.selected-type').textContent='integer'">integer</div>
                        <div class="dropdown-item" onclick="this.closest('.column-type-container').querySelector('.selected-type').textContent='bigint'">bigint</div>
                        <div class="dropdown-item" onclick="this.closest('.column-type-container').querySelector('.selected-type').textContent='boolean'">boolean</div>
                        <div class="dropdown-item" onclick="this.closest('.column-type-container').querySelector('.selected-type').textContent='text'">text</div>
                        <div class="dropdown-item" onclick="this.closest('.column-type-container').querySelector('.selected-type').textContent='date'">date</div>
                        <div class="dropdown-item" onclick="this.closest('.column-type-container').querySelector('.selected-type').textContent='timestamptz'">timestamptz</div>
                      </div>
                    </div>
                  </div>
                `
              );
            });

            const errorElement = document.querySelector(".error");
            const saveTableBtn = document.querySelector(".save-table-btn");

            saveTableBtn.addEventListener("click", async () => {
              errorElement.style.display = "none";
              errorElement.textContent = "";

              const table_name =
                document.querySelector(".table-name-input").value;

              if (table_name === "") {
                errorElement.textContent = "Table name cannot be empty";
                errorElement.style.display = "block";
                return;
              }

              const columns = [];
              let stop = false;

              document
                .querySelectorAll(".column-name-input")
                .forEach((input) => {
                  if (stop) return;

                  if (input.value === "") {
                    errorElement.textContent = "Column name cannot be empty";
                    errorElement.style.display = "block";

                    stop = true;
                    return;
                  }

                  if (
                    input.nextElementSibling
                      .querySelector(".selected-type")
                      .textContent.trim() === "-"
                  ) {
                    errorElement.textContent = "Column type cannot be empty";
                    errorElement.style.display = "block";

                    stop = true;
                    return;
                  }

                  columns.push({
                    name: input.value,
                    type: input.nextElementSibling.querySelector(
                      ".selected-type"
                    ).textContent,
                  });
                });

              if (stop) return;

              if (columns.length === 0) {
                errorElement.textContent =
                  "Table must have at least one column";
                errorElement.style.display = "block";
                return;
              }

              console.log({
                table_name,
                columns,
              });

              const response = await fetch("/createTable", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  table_name,
                  columns,
                }),
              });

              const data = await response.json();

              if (!response.ok) {
                errorElement.textContent = data.error;
                errorElement.style.display = "block";
              } else {
                generateTableData(data, table_name);
              }
            });
          }
        });
      </script>
    </main>

    <script>
      function generateTableData(data, tableId) {
        const dataContainer = document.querySelector(".data-container");
        dataContainer.innerHTML = `
              <div class="data-title">Table: ${tableId} <button class="add-item-btn">Add Item</button></div>
              <div class="error"></div>
              <table border="1">
                <thead>
                  <tr class="table-row">
                    ${data.columns
                      .map((column) => `<th>${column}</th>`)
                      .join("")}
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  ${data.rows
                    .map(
                      (row) =>
                        `<tr class="table-row">${row
                          .map((cell) => `<td>${cell}</td>`)
                          .join("")}
                          <td>
                            <button class="edit-btn">Edit</button>
                            <button class="delete-btn">Delete</button>
                          </td>
                        </tr>`
                    )
                    .join("")}
                </tbody>
              </table>
            `;

        addEventListnersToTableItems(data, tableId);
      }

      function addEventListnersToTableItems(data, tableId) {
        const editButtons = document.querySelectorAll(".edit-btn");
        editButtons.forEach((editButton, index) => {
          editButton.addEventListener("click", async (e) => {
            const row = e.target.closest("tr");
            if (editButton.textContent === "Edit") {
              [...row.cells].slice(0, -1).forEach((cell, columnIndex) => {
                const currentValue = cell.textContent;
                cell.innerHTML = `<input class="new-input" type="${
                  data.columnTypes[columnIndex] === "integer" ||
                  data.columnTypes[columnIndex] === "bigint"
                    ? "number"
                    : data.columnTypes[columnIndex] === "boolean"
                    ? "checkbox"
                    : data.columnTypes[columnIndex] ===
                      "timestamp with time zone"
                    ? "datetime-local"
                    : data.columnTypes[columnIndex] === "date"
                    ? "date"
                    : "text"
                }" value="${currentValue}">`;
              });

              const updateButton = row.querySelector(".edit-btn");
              updateButton.textContent = "Update";
              const cancelButton = row.querySelector(".delete-btn");
              cancelButton.textContent = "Cancel";
            } else {
              const newValues = [...row.cells]
                .slice(0, -1)
                .map((cell) => cell.querySelector("input").value);
              try {
                const response = await fetch(`/updateItem?table=${tableId}`, {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({
                    id: data.rows[index][0],
                    values: newValues,
                  }),
                });

                const newData = await response.json();

                if (!response.ok) {
                  const errorElement = document.querySelector(".error");
                  errorElement.textContent = newData.error;
                  errorElement.style.display = "block";
                } else {
                  generateTableData(newData, tableId);

                  const updateButton = row.querySelector(".edit-btn");
                  updateButton.textContent = "Edit";
                  const cancelButton = row.querySelector(".delete-btn");
                  cancelButton.textContent = "Delete";
                }
              } catch (error) {
                console.error(
                  "There was a problem with the fetch operation:",
                  error
                );
              }
            }
          });
        });

        const deleteButtons = document.querySelectorAll(".delete-btn");
        deleteButtons.forEach((deleteButton, index) => {
          deleteButton.addEventListener("click", async (e) => {
            const row = e.target.closest("tr");
            if (deleteButton.textContent === "Cancel") {
              const editButton = row.querySelector(".edit-btn");
              editButton.textContent = "Edit";
              deleteButton.textContent = "Delete";
              [...row.cells].slice(0, -1).forEach((cell) => {
                cell.textContent = cell.querySelector("input").value;
              });
            } else {
              try {
                const response = await fetch(`/deleteItem?table=${tableId}`, {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({
                    id: data.rows[index][0],
                  }),
                });

                const newData = await response.json();

                if (!response.ok) {
                  const errorElement = document.querySelector(".error");
                  errorElement.textContent = newData.error;
                  errorElement.style.display = "block";
                } else {
                  generateTableData(newData, tableId);
                }
              } catch (error) {
                console.error(
                  "There was a problem with the fetch operation:",
                  error
                );
              }
            }
          });
        });

        const addBtn = document.querySelector(".add-item-btn");
        addBtn.addEventListener("click", (e) => {
          const table = document.querySelector("table");
          const newRow = table.insertRow(0);
          const addBtn = document.querySelector(".add-item-btn");
          addBtn.disabled = true;

          newRow.classList.add("table-row");
          newRow.innerHTML = `
                ${data.columnTypes
                  .map(
                    (column, index) =>
                      `<td><input class="new-input" placeholder="${
                        data.columns[index]
                      }" type="${
                        column === "integer" || column === "bigint"
                          ? "number"
                          : column === "boolean"
                          ? "checkbox"
                          : column === "timestamp with time zone"
                          ? "datetime-local"
                          : column === "date"
                          ? "date"
                          : "text"
                      }" /></td>`
                  )
                  .join("")}

                <td>
                  <button class="save-btn">Save</button>
                  <button class="cancel-btn">Cancel</button>
                </td>
              `;

          const saveBtn = newRow.querySelector(".save-btn");
          const cancelBtn = newRow.querySelector(".cancel-btn");
          const errorElement = document.querySelector(".error");

          saveBtn.addEventListener("click", async (e) => {
            try {
              const response = await fetch(`/addItem?table=${tableId}`, {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(
                  [...newRow.cells]
                    .slice(0, -1)
                    .map((cell) => cell.querySelector("input").value)
                ),
              });
              if (!response.ok) return;
              const data = await response.json();
              if (!data || data.error) {
                errorElement.textContent = data.error;
                errorElement.style.display = "block";
              } else {
                generateTableData(data, tableId);
                newRow.remove();
                addBtn.disabled = false;
              }
            } catch (error) {
              console.error(
                "There was a problem with the fetch operation:",
                error
              );
            }
          });

          cancelBtn.addEventListener("click", (e) => {
            newRow.remove();
            errorElement.style.display = "none";
            addBtn.disabled = false;
          });
        });
      }
    </script>

    <script>
      const tableItems = document.querySelectorAll(".table-item");
      tableItems.forEach((tableItem) => {
        tableItem.addEventListener("click", async (e) => {
          const tableId = e.target.id;
          try {
            const response = await fetch(`/getTableData?table=${tableId}`);
            if (!response.ok) return;
            const data = await response.json();

            generateTableData(data, tableId);
          } catch (error) {
            console.error(
              "There was a problem with the fetch operation:",
              error
            );
          }
        });
      });
    </script>

    <script>
      const disconnectBtn = document.querySelector(".disconnect-btn");
      disconnectBtn.addEventListener("click", async (e) => {
        try {
          const response = await fetch("/disconnect", {
            method: "GET",
          });
          if (!response.ok) return;
          window.location.href = "/";
        } catch (error) {
          console.error("There was a problem with the fetch operation:", error);
        }
      });
    </script>
  </body>
</html>
